.FullPost {
    width: 80%;
    margin: 100px auto;
    padding: 100px 20px;
    box-sizing: border-box;
    border: 1px solid #eee;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
    text-align: center;
}

.Edit {

}

.Edit label {
    display: block;
    color: grey;
}

.Edit button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    color: #fa923f;
}

.Edit button:hover,
.Edit button:active {
    color: #521751;
}

.Edit button.Delete {
    color: red;
}

.Edit button.Delete:hover,
.Edit button.Delete:active {
    color: darkred;
}